<template>
    <div class="container">
        <br>
        
       <b-row>
           <b-col><h1>Clients</h1></b-col>
           <b-col></b-col>
           <b-col><b-button v-b-modal.newClient>New Client</b-button></b-col>
       </b-row>
       <div class="alert alert-danger"  v-if="success">
            {{ success }}
        </div>
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Providers</th>
                <th></th>
            </thead>
            <tbody>
                <tr v-for="client in clients" :key="client._id">
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone }}</td>
                    <td>
                        <span v-for="provider in client.providers" :key="provider._id">{{provider.name}}<span v-if="client.providers.indexOf(provider) !== client.providers.length-1">, </span></span>
                    </td>
                    <td>
                        <button class="btn btn-primary mx-2" @click="editClient(client)" >Edit</button>
                        <button class="btn btn-danger" @click="deleteClient(client)" >Delete</button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
         <b-modal id="newClient" hide-footer title="New Client">
            <new-client @hideModal="$bvModal.hide('newClient')">

            </new-client>
        </b-modal>
        <b-modal id="editClient" hide-footer title="Edit Client">
            <edit-client @hideModal="$bvModal.hide('editClient')" :id="selectedClient._id"></edit-client>
        </b-modal>
                                        
    </div>
</template>                                                                   

<script>
import axios from 'axios';
import newClient from './newClient.vue';
import editClient from './editClient.vue';

export default {
    components: {
        newClient,
        editClient
    },
    data()
         {
        return {
            clients: [],
            providers: [],
            selectedClient: {},
            fields: ['name', 'email', 'phone', 'providers'],
            showNewProvider: false,
            success: ''
        }
    },
    mounted() {
       
        this.getClients();
        this.getProviders();
    },
    methods: {
        getClients() {
             axios.get('/api/client')
            .then(res => {
                this.clients = res.data;
            }).catch(err => console.log(err));
        },
        getProviders() {
            axios.get('/api/provider') 
                .then(res => this.providers = res.data)
                .catch(err => console.log(err));
        },
        editClient(client) {
            this.selectedClient = client;
            this.$bvModal.show('editClient')
        },
        deleteClient(client) {
            axios.delete(`/api/client/${client._id}`)
                .then(() => {

                    this.getClients();
                    this.success = 'Client deleted successfully!';
                })
                .error(err => console.log(err));
        }
    }
}
</script>