<template> 
    <div>
        <form @submit.prevent="updateClient">
            <div class="alert alert-danger" v-if="error">
                {{ error }}
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" v-model="client.name" required/>
            </div>
              <div class="form-group">
                <label for="name">Email</label>
                <input type="text" class="form-control" v-model="client.email" required />
            </div>
              <div class="form-group">
                <label for="name">Phone</label>
                <input type="text" class="form-control" v-model="client.phone" required/>
            </div>
            <providers :clientId="id" @providerSelected="providerSelected"></providers>
            <div class="row">
                 <div class="col-md-6">
                       <b-button class="mt-3" variant="danger" @click="deleteClient(client)">Delete Client</b-button>
                   </div>
                   <div class="col-md-2">
                       <b-button class="mt-3" variant="outline-danger" @click.prevent="$emit('hideModal')">Close</b-button>
                   </div>
                  
                   <div class="col-md-4">
                       <b-button class="mt-3" variant="outline-warning" block type="submit" @click.prevent="updateClient">Update Client</b-button>
                   </div>
            </div>
        </form>
    </div>
</template>
<script> 
import axios from 'axios';
import providers from './providers.vue';
export default {
    props: ['id'],
    components: {
        providers
    },
    data() {
        return {
            client: {},
            error: '',
            selectedProviders: []
        }
    },
    mounted() {
        axios.get(`/api/client/${this.id}`)
            .then(res => {
                this.client = res.data;
                 if (this.client.providers) {
                    this.client.providers.forEach(p => this.selectedProviders.push(p._id));
                }
            })
            .catch(err => console.log(err));
       
    },
    methods: {
        updateClient() {
            if (!this.selectedProviders.length) {
                this.error = 'At least one provider must be selected';
                return;
            }
            axios.patch(`/api/client/${this.id}`, {
                name: this.client.name,
                email: this.client.email,
                phone: this.client.phone,
                providers: this.selectedProviders
            })
            .then(() => window.location = '/')
        },
         providerSelected(id) {
             console.log(id);
            const providerExist = this.selectedProviders.filter(el => el === id);
            if (providerExist.length === 0) {
                this.error = '';
                this.selectedProviders.push(id);
            } else {
                const index = this.selectedProviders.indexOf(providerExist[0])
                this.selectedProviders.splice(index, 1);
            }
        
        },
          deleteClient(client) {
            axios.delete(`/api/client/${client._id}`)
                .then(() => {

                    window.location = '/';
                    this.success = 'Client deleted successfully!';
                })
                .error(err => console.log(err));
        }
    }
}
</script>