<template>
    <div>
          <form @submit.prevent="updateProvider">
                <div class="alert alert-danger" v-if="error">
                    {{  error }}
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" v-model="provider.name" required/>
                </div>

                 <div class="row">
                   <div class="col-md-2">
                       <b-button class="mt-3" variant="outline-danger" @click.prevent="$emit('hideModal')">Close</b-button>
                   </div>
                   <div class="col-md-5"></div>
                   <div class="col-md-5">
                       <b-button class="mt-3" variant="outline-warning" block type="submit" @click.prevent="updateProvider">Update Provider</b-button>
                   </div>
               </div>
            </form>
    </div>
</template>
<script>
import axios from 'axios';
export default {
    props: ['id'],
    data() {
        return {
            provider: {},
            error: ''
        }
    },
    mounted() {
        axios.get(`/api/provider/${this.id}`)
            .then(res => this.provider = res.data)
            .catch(err => console.log(err));
    },
    methods: {
        updateProvider(){
            axios.patch(`/api/provider/${this.id}`, {
                name: this.provider.name
            }).then(() => this.$emit('providerUpdated'))
            .catch(err => console.log(err));
        }
    }
}
</script>