<template>
    <div>
        <form @submit.prevent="createClient">
            <div class="alert alert-danger" v-if="error">
                {{ error }}
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" v-model="name" required/>
            </div>
              <div class="form-group">
                <label for="name">Email</label>
                <input type="text" class="form-control" v-model="email" required />
            </div>
              <div class="form-group">
                <label for="name">Phone</label>
                <input type="text" class="form-control" v-model="phone" required/>
            </div>
            <providers @providerSelected="providerSelected"></providers>
            <div class="row">
                   <div class="col-md-2">
                       <b-button class="mt-3" variant="outline-danger" @click.prevent="$emit('hideModal')">Close</b-button>
                   </div>
                   <div class="col-md-6"></div>
                   <div class="col-md-4">
                       <b-button class="mt-3" variant="outline-warning" block type="submit" @click.prevent="createClient">Add Client</b-button>
                   </div>
            </div>
        </form>
    </div>
</template>
<script>
import axios from 'axios';
import providers from './providers.vue';
export default {
    components: {
        providers
    },
    data() {
        return {
            error: '',
            name: '',
            email: '',
            phone: '',
            selectedProviders: []
        }
    },
    methods: {
        createClient() {
            if (!this.selectedProviders.length) {
                this.error = 'At least one provider must be selected';
                return;
            }

            axios.post('/api/client', {
                name: this.name,
                email: this.email,
                phone: this.phone,
                providers: this.selectedProviders
            })
            .then(() => {
                window.location = '/'
            })
        },
        providerSelected(id) {
            const providerExist = this.selectedProviders.filter(el => el === id);
            if (!providerExist.length) {
                this.error = '';
                this.selectedProviders.push(id);
            } else {
                const index = this.selectedProviders.indexOf(providerExist[0])
                this.selectedProviders.splice(index, 1);
            }
        }
    }
}
</script>