<template>
    <div>
         
            <form @submit.prevent="createProvider">
                <div class="alert alert-danger" v-if="error">
                    {{  error }}
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" v-model="name" required/>
                </div>

                 <div class="row">
                   <div class="col-md-2">
                       <b-button class="mt-3" variant="outline-danger" @click.prevent="hideModal">Close</b-button>
                   </div>
                   <div class="col-md-6"></div>
                   <div class="col-md-4">
                       <b-button class="mt-3" variant="outline-warning" block type="submit" @click.prevent="createProvider">Add Provider</b-button>
                   </div>
               </div>
            </form>
        
    </div>
</template>
<script> 
import axios from 'axios';
export default {
    mounted() {
        // this.$refs['newProvider'].show()
    },
    data() {
        return {
            name: '',
            error: ''
        }
    },
    methods: {
        hideModal() {
            this.$emit('closeNewProviderModal');
        },
        createProvider() {
            axios.post('/api/provider', {name: this.name})
                .then(() => this.$emit('newProviderCreated'))
                .catch(err => this.error = err.response.data.message);
        }
    }
}
</script>