<template>
  <div>
  <div class="form-group">
    <label for="Providers">Providers</label>
    <button class="btn btn-primary mx-3" @click.prevent="$bvModal.show('newProvider')">New Provider</button>
  </div>
    <div v-for="provider in providers" :key="provider._id">
      <input type="checkbox" :name="provider.name" :value="provider._id" @click="providerClicked(provider._id)" :checked="providerChecked(provider)" />
      <label :for="provider.name" class="mx-2"> {{ provider.name }} </label>
      <font-awesome-icon icon="edit" @click="editProvider(provider)" class="mx-2" />
      <font-awesome-icon icon="trash" @click="deleteProvider(provider)" />
    </div>
    <b-modal id="newProvider" hide-footer title="New Provider" data-backdrop="static">
            <new-provider 
                @closeNewProviderModal="$bvModal.hide('newProvider')"
                @newProviderCreated="$bvModal.hide('newProvider'); getProviders()"
            ></new-provider>                                                   
    </b-modal> 
    <b-modal id="editProvider" hide-footer title="Edit Provider" data-backdrop="static">
            <edit-provider :id="selectedProvider._id"
             @hideModal="$bvModal.hide('editProvider')"
             @providerUpdated="$bvModal.hide('editProvider'); getProviders()"></edit-provider>
    </b-modal>
  </div>
</template>
<script>
import axios from "axios";
import newProvider from './newProvider.vue';
import EditProvider from './editProvider.vue';
export default {
  props: ['clientId'],
  components: {
    newProvider,
    EditProvider
  },
  data() {
    return {
      providers: [],
      selectedProvider: {},
      clientProviders: []
    };
  },
  mounted() {
    this.getProviders();
    if (this.clientId) {
      axios.get(`/api/client/${this.clientId}`)
        .then(res => this.clientProviders = res.data.providers)
    }
  },
  methods: {
    getProviders() {
      axios
        .get("/api/provider")
        .then((res) => (this.providers = res.data))
        .catch((err) => console.log(err));
    },
    providerClicked(id) {
        this.$emit('providerSelected', id);
    },
    editProvider(provider) {
      this.selectedProvider = provider;
      this.$bvModal.show('editProvider');
    },
    deleteProvider(provider) {
      axios.delete(`/api/provider/${provider._id}`)
          .then(() => this.getProviders())
          .catch(err => console.log(err));
    },
    providerChecked(provider) {
      if (this.clientProviders) {
        const providerExist = this.clientProviders.filter(p => p._id === provider._id);
        if (providerExist.length) return true;
        else return false;
      } else return false;
      
    }
  },

};
</script>