<template>
  <div id="app">
    <clients />
  </div>
</template>

<script>
import clients from './components/clients.vue'

export default {
  name: 'App',
  components: {
    clients
  }
}
</script>

<style>
</style>
